<style>
  h1 {
    text-align: center;
    font-weight: bold;
  }

  .message-form-component {
    text-align: center;
  }

  .message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10vh;
  }

  .message-list {
    flex: 1 1 auto;
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    overflow: scroll;
    height: 50vh;
  }

  .new-message {
    flex: 1 1 auto;
    margin: 1rem;
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
  }

  .message-content {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    overflow-wrap: break-word;
  }

  .message-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  .content, .main{
    height: 100%;
  }

  .signup-link, .login-button, .sign-out-button {
    background-color: transparent;
    color: black;
    border: none;
    text-decoration: underline;
    margin-top: 1rem;
  }

</style>

<main class="main">
  <div class="content">
    <h1>MY SMS MESSENGER</h1>
    <div class="logged-in-container" *ngIf="currentUser">
      <button class="sign-out-button" (click)="handleSignOut()">Sign Out</button>
      <div class="message-container">
        <div class="new-message">
          <app-template-message class="message-form-component" [currentUser]="currentUser" (messageSent)="onMessageReceived($event)"></app-template-message>
        </div>
        <div class="message-list">
          <h1>Message History ({{messages.length}})</h1>
          <div *ngFor='let message of messages; trackBy: trackByMessages'>
              <div class="message">
                <div class="message-info">
                  <span>{{message.formatted_phone_number}}</span>
                  <span>{{message.sent_at}}</span>
                </div>
                <span class="message-content">{{message.content}}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!currentUser && signUp">
      <h1>Sign Up</h1>
      <app-template-signup (signedUp)="handleSignUp($event)"></app-template-signup><br/>
      <span>Already have an account? <button class="login-button" (click)="toggleSignUp()">Log In</button></span>
    </div>
    <div *ngIf="!currentUser && !signUp">
      <h1>Log In</h1>
      <app-template-login (loggedIn)="handleSignUp($event)"></app-template-login><br/>
      <span>Don't have an account? <button class="signup-link" (click)="toggleSignUp()">Sign Up</button></span>
    </div>
  </div>
</main>



<router-outlet />
