<style>

</style>

<main class="main">
  <div class="content">
    <div *ngIf="currentUser">
      <h1>Welcome to My SMS Messenger</h1>
      <div class="new-message">
        <app-template-message [currentUser]="currentUser"></app-template-message>
      </div>
      <div class="message-list">
        <div *ngFor='let message of messages; let i = index'>
            <label>{{message.content}}</label>
        </div>
      </div>
    </div>
    <div *ngIf="!currentUser">
      <h1>Please Sign Up</h1>
      <app-template-signup></app-template-signup>
    </div>
  </div>
</main>



<router-outlet />
